.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: gainsboro;
}

.menuItem {
  display: inline-block;
  text-align: left;
  margin: 0 15px;
}

.menuItem a {
  color: green;
}

.menuItemActive {
  text-decoration: underline;
}

.menuContainer {
  margin: 10px 0px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}